#box1{
    width: 200px;
    height: 200px;
    background-color: blue;
    position: relative;
    top: 100px;
    left: 500px;
    /* relative to where it normally is it's pushed down and to the right by 100px*/
}

#box2{
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: absolute;
}

#box3{
    width: 200px;
    height: 200px;
    background-color: red;
    position: fixed; 
}

#box4{
    width: 200px;
    height: 200px;
    background-color: rgb(4, 255, 0);
    position: sticky; 
    top: 200px;
    left: 250px;
}