.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color:aquamarine;
    padding: 10px 15px;
    cursor: pointer;
}
.dropdown a{
    display:block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color:azure;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.795);
}

.dropdown:hover .content{
    display:block;
}
.dropdown:hover button{
    background-color: hsl(184, 100%, 75%);
    font-size: 0.9em;
}
.dropdown a:hover{
    background-color:bisque;
}