*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}

header{
    background-color:bisque;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid;
}

.navbar{
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}

footer{
    display: block;
    clear: both;
    background-color:bisque;
    text-align: center;
    padding: 20px;
    border-top: 2px solid;
}

/* for a mobile device :*/
@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }
}