.gallery{
    display: inline-block;
    margin: 5px;
    width: 200px;
    height: 200px;
}
.gallery .description{
    text-align: center;
    padding: 10px;
    border: 1px solid darkgrey;
}
.gallery:hover{
    border: 2px solid hsl(183, 94%, 43%);
}
.gallery img{
    width: 100%;
    height: 100%;
}