h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family:'Lucida console', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    font-weight bald;
    font-style: italic; 
}