.box{
    border: 2px solid;
    padding: 25px;
    box-sizing: border-box; /*when we calculate the height or width disregard any border or padding*/
    height: auto;
    width: 200px;   /*if u set it to 50% it will take 50% of the width of vue port*/
    text-align: center;

    max-width: 25%; /*the cap is 25%*/
    min-width: 10%;
}
/*Normally, when you set width or height on an element:
    The content box is that size.
    Then padding and border are added on top, making the element bigger than you expect.
*/
/* "box-sizing: border-box" makes it Easier to align elements side by side.*/